#recipe-container {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
}

#recipe-container h2 {
    font-size: 2em;
    color: #333;
}

#recipe-container ul {
    list-style-type: none;
    padding-left: 0;
}

#recipe-container li {
    font-size: 1.2em;
    color: #555;
}

#recipe-container img {
    margin-top: 20px;
    border-radius: 8px;
}
